@font-face {
  font-family: "iconfont"; /* Project id 2490744 */
  src: url('iconfont.woff2?t=1677586581548') format('woff2'),
       url('iconfont.woff?t=1677586581548') format('woff'),
       url('iconfont.ttf?t=1677586581548') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconqianjin:before {
  content: "\e654";
}

.iconhoutui:before {
  content: "\e655";
}

.iconlajixiang_huaban1:before {
  content: "\e65b";
}

.iconguanbi_huaban1:before {
  content: "\e66a";
}

.icongengduo_huaban1:before {
  content: "\e66b";
}

.iconzhixian_huaban1:before {
  content: "\e66d";
}

.iconchehui_huaban1:before {
  content: "\e670";
}

.iconquxiao_huaban1:before {
  content: "\e671";
}

.iconqueding_huaban1:before {
  content: "\e672";
}

.iconyidong_huaban1:before {
  content: "\e674";
}

.iconhuabi_huaban1:before {
  content: "\e676";
}

.iconyouqitong_huaban1:before {
  content: "\e678";
}

.iconxiguan_huaban1:before {
  content: "\e67a";
}

.iconxiangpi_huaban1:before {
  content: "\e67b";
}

.iconjuxinggongju_huaban1:before {
  content: "\e67d";
}

.iconxialajiantou_huaban1:before {
  content: "\e67e";
}

.iconwenzi_huaban1:before {
  content: "\e67f";
}

.iconcaijian_huaban1:before {
  content: "\e681";
}

.iconfangdajing_huaban1:before {
  content: "\e682";
}

.iconsuoxiao_huaban1:before {
  content: "\e688";
}

.iconfangda_huaban1:before {
  content: "\e689";
}

.icongouwuchekong:before {
  content: "\e600";
}

.icongouwucheman:before {
  content: "\e601";
}

.iconqicheqianlian-:before {
  content: "\e618";
}

